/target
/.env
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/.gitignore
/.idea/kanizawa_sensei_bot.iml
/Cargo.lock
/.idea/discord.xml
